.scroll {
    height: 80%;
    width: 1000px;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
    clear: both;
}

.scrollContainer div.panel {
    height: 80%;
    width: 1000px;
}

ul.settings_nav {
  background:url(../media/bgNav.png);
  font-family: 'Helvetica Neue','HelveticaNeue',Helvetica, Arial, sans-serif;
  font-size:100%;
  color: #eee;
  height: 20px;
  margin: 0px 0px;
  display: block;
  font-size:.8em;
  margin-top:-16px;
  margin-left:0;
  padding-top: 10px;
  padding-right:0px;
  overflow: none;
  /*width: 2000px;*/
}

ul.settings_nav li {
    display: inline;
    margin-right: 0px;
}

ul.settings_nav li a {
  color: #ccc;
  text-decoration: none;
  display: block;
  float: left;
  font-size: 10px;
  line-height: 11px;
  min-height: 5px;
  padding:0 16px 0 14px;
  position: relative;
  text-shadow: rgba(0,0,0,.5) 0px 1px 0px;
  background:url(../media/bgNavSep.png) no-repeat right center;
}

ul.settings_nav a:hover {
  color: #FF9522;
  background-color: rgba(0,0,0,.05);
  -webkit-box-shadow:0 2px 8px rgba(0,0,0,.25) inset;
  text-shadow: rgba(255,255,255,.5) 0px 1px 10px;
}

ul.settings_nav a.selected {
	  color:#FF9522;
}

ul.settings_nav a:focus {
    outline: none;
}
.hide {
    display: none;
}


    input {  
    background:url(../media/bgNav.png);
	border: 1px solid #000;
	    padding: 2px 1em 2px 1em;
	color:#FFFFFF
  }  
	
	div.tabs {
    font-size: 80%;
    font-weight: bold;
    }

    a.tab {
    border-bottom-width: 0px;
    padding: 2px 1em 2px 1em;
    text-decoration: none;
    cursor: pointer;
    }

    a.tab, a.tab:visited {
    color: #808080;
    }

    a.tab:hover {
    background-color: #d0d0d0;
    color: #606060;
    }


    /*
    * note that by default all tab content areas
    * have display set to 'none'
    */
    div.tabContent {
    padding: 4px;
    display: none;
    }
